.box-layout {
    align-items: center; // center vertically
    background: url('/images/bg.jpg');
    background-size: cover; // always cover container with image
    display: flex; // allows align-items and justify-content to work 
    height: 100vh; // 100% of viewport height
    justify-content: center; // center horizontally
    width: 100vw; // 100$ of viewport width
}

.box-layout__box {
    background: fade-out($color: white, $amount: .15); // fade out 15%
    border-radius: 3px; // round corners
    padding: $l-size $m-size;
    text-align: center; // text in center of box
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1; // all text has line height 
}